/* src/assets/styles/components/_button.scss  */


.btn {
	border: none;
	background: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #324DDC;
	padding: 15px 32px;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	cursor: pointer;
	@include hov();
	@include max(sm){
		padding: vw(15) vw(32);
		font-size: vw(20);
		line-height: vw(28);
	}

	&--in-header {
		border: 2px solid #FFFFFF;
		font-size: 14px;
		line-height: 28px;
		padding: 8px 22px;
	}

	&--on-blue {
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		padding: 13px 31px;
		border: 2px solid #FFFFFF;

		@include max(sm){
			font-size: vw(24);
			line-height: vw(28);
			padding: vw(13) vw(22);
		}
	}

	&--white {
		color: #324DDC;
		background: #ffffff;
	}

}


