.header{
	position:sticky;
	top: 0;
	display: block;
	width: 100%;
	left: 0;
	background: #ffffff;
	z-index: 99;

	&__row{
		@include max(md){
			//display: none;
			position: fixed;
			top: 0;
			left: 0;
			background: #ffffff;
			height: 100vh;
			width: 100vw;
			z-index: -1;
			transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
			opacity: 0;
			transform: translateX(-100%);
			overflow: auto;
			&.active{
				transform: translateX(0);
				opacity: 1;
			}
		}
	}

	&__burder{
		width: 48px;
		height: 48px;
		display: block;
		cursor: pointer;
		background: url("@~images/menu.svg") center center no-repeat;
		background-size: contain;
		@include max(sm){
			width: vw(24);
			height: vw(24);
		}
		&.active{
			background-image: url("@~images/close.svg");
		}
	}

	&--mobile{
		padding: 30px 0;
		position: relative;
		z-index: 100;
		@include min(md){
			display: none;
		}
		@include max(sm){
			padding: vw(20) 0;
		}
	}
}


.container--header {
	width: calc(50% + 1280px / 2);
	max-width: calc(100% - 20px);
	margin-right: 0;
	display: flex;
	align-items: center;

	@include max(md){
		width: 100%;
		flex-direction: column;
		max-width: 100%;
		padding-top: 50px;
		justify-content: space-between;
		height: 100%;
	}
	@include max(sm){
		padding-top: vw(30);
		padding-left: 0;
		padding-right: 0;
	}
}

.header-logo {
	margin-right: 36px;
	@include max(lg){
		margin-bottom: 61px;
	}
	@include max(md){
		margin-bottom: 0;
		margin-right: 0;
	}
	img, svg{

	}
}

.header-menu {
	display: flex;
	align-items: center;
	flex-grow: 1;
	@include max(lg){
		margin-bottom: 61px;
	}
	@include max(md){
		margin-bottom: 0;
		flex-direction: column;
		margin-top: 30px;
		justify-content: center;
	}
	@include max(sm){
		margin-top: vw(30);
	}
	&__ul {
		display: flex;
		align-items: center;
		margin-left: -30px;
		@include max(md){
			margin-left: 0;
			flex-direction: column;
		}
	}

	&__li {
		display: flex;
		align-items: center;
		text-align: center;
		margin-left: 30px;
		@include max(md){
			margin-left: 0;
			margin-top: 30px;
		}
		@include max(sm){
			margin-top: vw(20);
		}
	}

	&__link {
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		color: #000000;
		@include hov();
		@include max(sm){
			font-size: vw(18);
			line-height: vw(28);
		}
		&:active {}

		&:focus {}
	}
}


.header-right {
	background: #324DDC;
	align-items: center;
	display: flex;
	padding: 16px 32px 16px 26px;
	@include max(lg){
		display: block;
	}
	@include max(md){
		width: 100%;
		padding: 16px 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	@include max(sm){
		padding: vw(16) vw(20);
	}
}
.hcontact-btn{
	@include max(lg){
		width: 100%;
	}
	@include max(md){
		width: 315px;
	}
	@include max(sm){
		width: 100%;
	}
}
.hcontact-counties {
	display: flex;
	align-items: center;
	@include max(lg) {
		margin-top: 20px;
	}
	@include max(sm) {
		margin-top: vw(20);
	}
}
.hcontact-country {
	display: flex;
	align-items: center;
	margin-left: 32px;

	@include max(lg){
		&:first-child{
			margin-left: 0;
		}
	}


	&__flag {
		width: 32px;
		height: 32px;
		margin-right: 16px;

		@include max(sm) {
			width: vw(32);
			height: vw(32);
			margin-right: vw(10);
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center center;
		}
	}

	&__text {}


	&__phone {
		font-weight: 600;
		font-size: 14px;
		line-height: 150%;
		color: #FFFFFF;

		@include max(sm) {
			font-size: vw(14);
		}
	}

	&__address {
		margin-top: 1px;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
		@include max(sm) {
			font-size: vw(16);
			line-height: vw(19);
		}
	}

	&:hover {}

	&:active {}

	&:focus {}
}


