/* src/assets/styles/pages/_index.scss  */


.hero {}

.container--hero {
	position: relative;
	z-index: 1;
}

.hero-info {
	position: relative;
	width: 679px;
	max-width: 100%;
	padding: 176px 0 182px;
	z-index: 2;

	@include max(md){
		padding: 86px 0 102px;
	}
	@include max(sm){
		width: 100%;
		padding: vw(20) 0 0;
	}

	&__title {
		font-weight: 700;
		font-size: 52px;
		line-height: 63px;
		@include max(sm){
			font-size: vw(32);
			line-height: vw(40);
		}
	}

	&__desc {
		width: 570px;
		max-width: 100%;
		margin-top: 44px;
		font-weight: 400;
		font-size: 30px;
		line-height: 150%;
		opacity: 0.8;
		@include max(sm){
			font-size: vw(14);
			margin-top: vw(12);
			max-width: vw(265);
		}
	}

	&__btn-wrap {
		display: flex;
		margin-top: 24px;
		@include max(sm){
			margin-top: vw(45);
			display: flex;
			justify-content: center;
		}
	}

	&__art {
		width: 512px;
		position: absolute;
		left: 134px;
		top: 85px;
		z-index: -2;

		@include max(md){
			width: 462px;
			left: 100px;
			top: 15px;
		}
		@include max(sm){
			display: none;
		}

		&::before {
			content: '';
			display: block;
			padding-top: 118.359375%;
		}

		img {
			@include coverImage();
			object-fit: contain;
		}
	}

	img {}
}


.hero-picture {
	width: 742px;
	position: absolute;
	left: 569px;
	top: 79px;
	z-index: 1;
	@include max(md){
		width: 592px;
		left: 499px;
		top: 59px;
	}
	@include max(sm){
		position: static;
		width: 100%;
		margin-top: vw(40);
	}

	&::before {
		content: '';
		display: block;
		padding-top: 87.1968%;
		@include max(sm){
			display: none;
		}
	}

	img {
		@include coverImage();
		object-fit: contain;
		@include max(sm){
			position: static;
		}
	}
}


.section-title {
	font-weight: 700;
	font-size: 42px;
	line-height: 51px;
	width: 960px;
	max-width: 100%;

	@include max(md){
		font-size: 36px;
		line-height: 43px;
	}
	@include max(sm){
		font-size: vw(24);
		line-height: vw(30);
	}

	&+* {
		margin-top: 20px;
		@include max(sm){
			margin-top: vw(20);
		}
	}
}

.section-desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	opacity: 0.8;
	width: 764px;
	max-width: 100%;
	@include max(sm){
		width: vw(322);
		font-size: vw(16);
	}
}


.advantages {
	background: #F1F1F1;
	padding: 44px 0 47px;
	@include max(sm){
		padding: vw(46) 0;
		margin-top: 80px;
	}
}

.advantages-row {
	margin-left: -20px;
	display: flex;
	justify-content: space-between;
	@include max(md){
		flex-wrap: wrap;
		margin-top: -56px;
	}
	@include max(sm){
		margin-top: 0;
		display: block;
		margin-left: 0;
	}
}

.advantages-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 20px;

	@include max(md){
		width: calc(50% - 20px);
		margin-top: 56px;
	}
	@include max(sm){
		width: 100%;
		margin-top: 0;
		margin-left: 0;
		&:not(:first-child){
			margin-top: vw(56);
		}
	}

	&__pic {
		width: 100px;
		max-width: 100%;
		position: relative;
		@include max(sm){
			width: vw(100);
		}
		&::before {
			content: '';
			padding-top: 100%;
			display: block;
		}

		img {
			@include coverImage();
			object-fit: contain;
		}
	}

	&__name {
		margin-top: 22px;
		font-weight: 500;
		font-size: 24px;
		line-height: 150%;
		text-align: center;
		color: #000000;
		opacity: 0.8;
		@include max(sm){
			margin-top: vw(22);
			font-size: vw(24);
		}
	}

}

.we-help {
	margin-top: 130px;
	@include max(md){
		margin-top: 100px;
	}
	@include max(sm){
		margin-top: 60px;
	}
}


.we-help-cards {
	display: flex;
	flex-wrap: wrap;
	margin-left: -25px;
	justify-content: space-between;
	margin-top: 60px;
	@include max(sm){
		margin-top: 30px;
		margin-left: 0;
	}
}

.we-help-card {
	display: flex;
	flex-direction: column;
	transition-duration: .3s;
	border: 1px solid #000000;
	padding: 27px 33px 23px;
	margin-left: 25px;
	width: calc(33.33% - 25px);

	@include max(sm){
		width: 100%;
		padding: vw(26) vw(26) vw(24) vw(30);
		margin-left: 0;
		min-height: vw(211);
		&:not(:first-child){
			margin-top: vw(16);
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
	}


	&__name {
		font-weight: 700;
		font-size: 28px;
		line-height: 34px;
		@include max(sm){
			font-size: vw(28);
			line-height: vw(34);
		}
	}

	&__icon {
		margin-top: -2px;
		width: 38px;
		min-width: 38px;
		margin-left: 10px;
		@include max(sm){
			margin-top: vw(-2);
			width: vw(38);
			min-width: vw(38);
			margin-left: vw(10);
		}
		svg {
			width: 100%;
			height: auto;
		}

		svg,
		svg path {
			transition-duration: .3s;

		}
	}

	&__bottom {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		margin-top: 56px;
		@include max(sm){
			margin-top: vw(30);
			justify-content: flex-end;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		opacity: 0.8;
		@include max(sm){
			font-size: vw(18);
			line-height: vw(21);
		}
	}

	&:hover {
		background: #324DDC;
		color: #ffffff;

		svg,
		svg path {
			fill: #ffffff !important;
		}
	}

	&:active {}

	&:focus {}

}

.important {
	display: flex;
	align-items: center;
	padding: 19px 20px 19px 19px;
	width: 816px;
	max-width: 100%;
	background: #324DDC;
	@include max(sm){
		padding: vw(18) vw(13) vw(18) vw(20);
		width: 100%;
		align-items: flex-start;
	}
	&__icon {
		width: 9px;
		min-width: 9px;
		margin-right: 20px;
		margin-top: -1px;
		@include max(sm){
			margin-top: 0;
			width: vw(8);
			min-width: vw(8);
			margin-right: vw(20);
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;
		@include max(sm){
			font-size: vw(18);
			line-height: vw(22);
		}
	}
	img {}

	&--in-fw {
		padding-left: 0;
		@include max(sm){
			padding-right: 0;
		}
		.important__icon {
			@include min(sm){
				margin-right: 33px;
			}
		}
	}

}


.full-power {
	margin-top: 160px;
	@include max(md){
		margin-top: 100px;
	}
	@include max(sm){
		margin-top: vw(60);
	}
}

.full-power-row-wrap {
	margin-top: 45px;
	position: relative;
	overflow: hidden;
	padding-bottom: 70px;
	z-index: 1;
	@include max(md){
		padding-top: 34px;
	}
	@include max(sm){
		padding-top: vw(34);
		margin-top: vw(30);
		padding-bottom: vw(34);
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 50px;
		width: 100%;
		left: 0;
		bottom: 0;
		background: #F1F1F1;
		z-index: 1;
		@include max(md){
			top: 0;
		}
	}

}

.full-power-row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 1;
	overflow: hidden;
	@include min(xl){
		margin-right: -20px;
	}
	@include max(md){
		display: block;
	}
	&__bg {
		z-index: 2;
		position: absolute;
		left: 50%;
		top: 50px;
		transform: translateX(-50%);
		width: 1102px;
		max-width: 128%;
		@include max(md){
			top: 23px;
		}
		@include max(sm){
			top: vw(23);
		}
		img {
			width: 100%;
			height: auto;
		}
	}

}

.full-power-item {
	z-index: 4;
	position: relative;
	max-width: calc(33.33% - 54px);
	@include max(md){
		max-width: 100%;
		width: 100%;
		&:not(:first-child){
			margin-top: 64px;
		}
	}
	@include max(sm){
		&:not(:first-child){
			margin-top: vw(64);
		}
	}
	&__icon {
		width: 100px;
		margin-left: -7px;
		@include max(md){
			margin-left: 0;
		}
		@include max(sm){
			width: vw(100);
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		margin-top: 22px;
		@include max(sm){
			margin-top: vw(22);
		}
		&::after {
			content: '';
			display: block;
			width: 40px;
			height: 5px;
			background: #324DDC;
			margin-top: 6px;
			@include max(sm){
				width: vw(40);
				height: vw(5);
				margin-top: vw(6);
			}
		}
	}

	&__name {
		font-weight: 700;
		font-size: 28px;
		line-height: 34px;
		margin-right: 12px;
		color: #000000;
		@include max(sm){
			font-size: vw(28);
			line-height: vw(34);
			margin-right: vw(12);
		}
	}

	&__desc {
		margin-top: 24px;
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;
		opacity: 0.8;
		@include max(sm){
			margin-top: vw(24);
			font-size: vw(24);
		}
	}
}



.possibility {
	background: #324DDC;
	padding: 41px 0 27px;
	@include max(sm){
		padding: vw(43) 0 vw(57);
	}
	&__text {
		width: 974px;
		max-width: 100%;
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 39px;
		text-align: center;
		margin: 0 auto;
		color: #FFFFFF;
		@include max(sm){
			width: 100%;
			font-size: vw(24);
			line-height: vw(30);
		}
		span {
			border-bottom: 2px solid #FFFFFF;
			@include max(sm){
				border-bottom: 1px solid #FFFFFF;
			}
		}
	}

	&__btn-wrap {
		margin-top: 30px;
		display: flex;
		justify-content: center;
		@include max(sm){
			margin-top: vw(42);
		}
	}
}



.reasons {
	counter-reset: reasons;
	margin-top: 160px;
	@include max(md){
		margin-top: 100px;
	}
	@include max(sm){
		margin-top: vw(60);
	}
}


.reasons-items {
	margin-top: 60px;
	border-top: 1px solid #000000;
	@include max(sm){
		margin-top: vw(30);
	}
}

.reasons-item {
	counter-increment: reasons;
	border-bottom: 1px solid #000000;
	display: flex;
	align-items: flex-start;

	&__number {
		width: 66px;
		min-width: 66px;
		font-weight: 700;
		font-size: 30px;
		line-height: 150%;
		text-align: center;
		color: #324DDC;
		display: flex;
		align-items: center;
		padding: 16px 0;
		@include max(sm){
			width: vw(56);
			min-width: vw(56);
			font-size: vw(30);
			padding: vw(15) 0;
		}
		&:not(.reasons-item__number--icon) {
			&::before {
				content: counter(reasons);
				margin-left: 12px;
				@include max(sm){
					margin-left: vw(10);
				}
			}
		}

		&--icon {
			img {
				width: 24px;
				min-width: 24px;
				height: auto;
				margin-left: 6px;
				margin-top: 10px;
				margin-bottom: 10px;
				@include max(sm){
					width: vw(24);
					min-width: vw(24);
					margin-left: vw(6);
					margin-top: vw(10);
					margin-bottom: vw(10);
				}
			}
		}
	}

	&__text {
		flex-grow: 1;
		margin-top: 20px;
		margin-bottom: 24px;
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;
		opacity: 0.8;
		@include max(md){
			font-size: 20px;
		}
		@include max(sm){
			margin-top: vw(20);
			margin-bottom: vw(20);
			font-size: vw(16);
			padding-right: vw(10);
		}
	}

	&__galka {
		background: url('@~images/reasons-galka.svg') no-repeat center center;
		background-size: contain;
		width: 36px;
		height: 36px;
		min-width: 36px;
		margin: 22px 0 22px 10px;
		@include max(sm){
			display: none;
		}
	}

	img {}
}


.fullw-important {
	background: #324DDC;
	margin-top: 81px;
	@include max(sm){
		margin-top: vw(30);
	}
}


.order{
	margin-top: 160px;
	@include max(md){
		margin-top: 100px;
	}
	@include max(sm){
		margin-top: vw(60);
	}
	&__steps{
		margin-top: 55px;
		@include max(sm){
			margin: vw(20);
		}
	}
	&__slider{
		margin-top: 34px;
		@include max(sm){
			margin-top: vw(56);
		}
	}
	&__bottom{
		width: 100%;
		max-width: 908px;
		font-size: 24px;
		line-height: 150%;
		text-align: center;
		margin: 48px auto 0;
		@include max(md){
			margin: 30px -20px 0;
			width: auto;
			max-width: none;
			text-align: center;
			background: #F1F1F1;
			padding: 25px 32px;
		}
		@include max(sm){
			margin: vw(30) vw(-16) 0;
			padding: vw(25) vw(32);
			font-size: vw(18);
		}
	}
}

.o-slider{
	position: relative;
	&__flex{
		display: flex;
		justify-content: center;
		align-items: center;
		@include min(md){
			height: 100%;
		}
		@include max(md){
			flex-direction: column;
			justify-content: flex-start;
		}
	}
	&__img{
		flex-shrink: 0;
		@include max(md){
			height: 378px;
		}
		@include max(sm){
			height: vw(203);
		}
		img{
			display: block;
			width: 100%;
			object-fit: contain;
			@include max(md){
				height: 100%;
			}
		}
	}
	&__text{
		margin-left: 32px;
		font-weight: 600;
		font-size: 42px;
		line-height: 150%;
		@include max(lg){
			font-size: 34px;
		}
		@include max(md){
			text-align: center;
			margin-left: 0;
			margin-top: 34px;
		}
		@include max(sm){
			margin-top: vw(34);
			font-size: vw(26);
		}
	}
	&__item{
		height: 100%;
		&--1{
			.o-slider__img{
				@include min(md){
					width: 567px;
				}
			}
			.o-slider__text{
				@include min(md){
					max-width: 521px;
				}
			}
		}
		&--2{
			.o-slider__img{
				@include min(md){
					width: 473px;
				}
			}
			.o-slider__text{
				@include min(md){
					max-width: 648px;
				}
			}
		}
		&--3{
			.o-slider__img{
				@include min(md){
					width: 411px;
				}
			}
			.o-slider__text{
				@include min(md){
					max-width: 648px;
				}
			}
		}
		&--4{
			.o-slider__img{
				@include min(md){
					width: 441px;
				}
			}
			.o-slider__text{
				@include min(md){
					max-width: 743px;
				}
			}
		}
	}
	.slick-track{
		@include min(md){
			display: flex;
		}
	}
	.slick-slide{
		@include min(md){
			height: inherit;
			>div{
				height: 100%;
			}
		}
	}

	&__nav{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 11;
		margin-top: -22px;
		pointer-events: none;
		@include max(md){
			margin-top: 0;
			position: absolute;
			top: 189px;
			left: 0;
			width: 100%;
			justify-content: space-between;
		}
		@include max(sm){
			top: vw(93);
		}
	}
	&__button{
		pointer-events: auto;
		margin: 0 40px;
		width: 91px;
		height: 42px;
		display: block;
		cursor: pointer;
		background: url('@~images/arrow.svg') center center no-repeat;
		background-size: contain;
		@include max(md){
			margin: 0;
		}
		@include max(sm){
			width: vw(37);
			height: vw(17);
		}
		&--next{
			transform: scaleX(-1);
		}
		&--prev{}

		&.slick-disabled{
			filter: grayscale(1) brightness(2.3);
			cursor: default;
		}
	}
}

.steps{
	overflow: hidden;
	margin-left: -20px;
	margin-right: -20px;
	position: relative;
	@include max(sm){
		margin-left: vw(-16);
		margin-right: vw(-16);
	}
	&__inner{
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		min-width: max-content;
		position: relative;
		@include max(sm){
			padding: 0 vw(16);
		}
	}
}

.step{
	padding-top: 33px;
	padding-right: 24px;
	position: relative;
	@include max(sm){
		padding-top: vw(33);
		padding-right: vw(24);
	}
	&__number{
		position: absolute;
		top: 0;
		left: 34px;
		z-index: 1;
		@include max(sm){
			left: vw(34);
			height: vw(47);
			img{
				height: 100%;
			}
		}
	}
	&__arrow{
		display: flex;
		align-items: center;
		width: 290px;
		height: 76px;
		background: #F1F1F1;
		position: relative;
		@include max(sm){
			width: vw(296);
			height: vw(76);
		}
		&:after {
			content: '';
			position: absolute;
			left: 0; bottom: 0; width: 0; height: 0;
			border-left: 24px solid #ffffff;
			border-top: 38px solid transparent;
			border-bottom: 38px solid transparent;
			@include max(sm){
				border-left-width: vw(24) ;
				border-top-width: vw(38);
				border-bottom-width: vw(38);
			}
		}

		&:before {
			content: '';
			position: absolute;
			right: -24px;
			bottom: 0;
			width: 0;
			height: 0;
			border-left: 24px solid #F1F1F1;
			border-top: 38px solid transparent;
			border-bottom: 38px solid transparent;
			@include max(sm){
				right: vw(-24);
				border-left-width: vw(24) ;
				border-top-width: vw(38);
				border-bottom-width: vw(38);
			}
		}

		span{
			width: 100%;
			display: block;
			padding-left: 30px;
			padding-right: 6px;
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			text-align: right;
			color: #000000;
			opacity: 0.4;
			text-transform: uppercase;
			@include max(sm){
				padding-left: vw(30);
				padding-right: vw(6);
				font-size: vw(24);
				line-height: vw(29);
			}
		}
	}

	&--active{
		.step{
			&__arrow{
				background: #324DDC;
				&::before{
					border-left-color: #324DDC;
				}
				span{
					color: #FFFFFF;
					opacity: 1;
				}
			}
		}
	}
}



.adviser{
	margin-top: 160px;
	@include max(md){
		margin-top: 100px;
	}
	@include max(sm){
		margin-top: vw(60);
	}
	&__container{}

	&__info{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		flex-grow: 1;
		min-height: 321px;
		position: relative;
		@include max(md){
			min-height: 42px;
			padding-left: 58px;
			margin-bottom: 32px;
		}
		@include max(sm){
			min-height: vw(42);
			padding-left: vw(58);
			margin-bottom: vw(32);
		}
	}
	&__title{
		font-weight: 700;
		font-size: 42px;
		line-height: 52px;
		@include max(sm){
			font-size: vw(24);
			line-height: vw(30);
		}
	}
	&__arrow{
		width: 91px;
		height: 42px;
		background: url('@~images/arrow.svg') center center no-repeat;
		background-size: contain;
		margin: 19px 0;
		@include max(md){
			position: absolute;
			left: 0;
			bottom: 0;
			margin: 0;
			transform-origin: 23% 48%;
			transform: rotate(-90deg);
		}
		@include max(sm){
			width: vw(91);
			height: vw(42);
		}
	}
	&__text{
		font-size: 24px;
		line-height: 150%;
		opacity: 0.8;
		max-width: 605px;
		@include max(lg){
			br{
				display: none;
			}
		}
		@include max(md){
			margin-top: 19px;
			br{
				display: inherit;
			}
		}
		@include max(sm){
			font-size: vw(16);
			max-width: none;
			br{
				display: none;
			}
		}
	}
	&__img{
		flex-shrink: 0;
		padding-bottom: 100%;
		position: relative;
		overflow: hidden;
		@include max(md){
			margin: 0 -20px;
		}
		@include max(sm){
			margin: 0 vw(-16);
		}
		img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}
	&__grid{
		margin-top: 60px;
		@include max(md){
			margin-top: 0;
		}
	}
	&__col{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include max(md){
			width: 100%;
			margin-top: 50px;
		}
		@include max(sm){
			margin-top: vw(50);
		}
		&--left{
			@include min(md){
				flex-direction: column-reverse;
			}
			.adviser{
				&__info{
					@include min(md){
						padding-right: 35px;
						text-align: right;
						align-items: flex-end;
					}
				}
				&__arrow{
					@include min(md){
						transform: scaleX(-1);
					}
				}
			}
		}
		&--right{
			.adviser{
				&__info{
					@include min(md){
						padding-left: 35px;
					}
				}
			}
		}

	}

	&__row{
		display: flex;
		flex-wrap: wrap;
		@include max(md){
			flex-direction: column-reverse;
		}

		&:nth-child(1){
			.adviser__col--right{
				.adviser__info{
					justify-content: flex-start;
				}
			}
		}
		&:nth-last-child(1){
			.adviser__col--left{
				.adviser__info{
					justify-content: flex-end;
				}
			}
		}
	}
}


.konsul{
	color: #ffffff;
	background: url('@~images/konsil-bg.jpg') center center no-repeat;
	background-size: cover;
	margin-top: 160px;
	padding: 60px 0 23px;
	@include max(md){
		margin-top: 0;
	}
	@include max(sm){
		padding: vw(50) 0;
		background-image: url("@~images/konsil-bg-mobile.jpg");
	}
	&__container{}
	&__title{
		@include max(sm){
			width: vw(300);
		}
	}
	&__desc{
		opacity: 1;
		width: 907px;
		@include max(sm){
			width: vw(300);
		}
	}
	&__flex{
		margin-top: 46px;
		display: flex;
		justify-content: space-between;
		@include max(md){
			display: block;
		}
		@include max(sm){
			margin-top: vw(30);
		}
	}
	&__item{
		max-width: 33.33%;
		@include max(md){
			max-width: 100%;
			&:not(:first-child){
				margin-top: 20px;
			}
		}
		@include max(sm){
			&:not(:first-child){
				margin-top: vw(20);
			}
		}
	}
	&__number{
		font-weight: 700;
		font-size: 120px;
		line-height: 149px;
		@include max(sm){
			font-size: vw(120);
			line-height: vw(149);
		}
	}
	&__text{
		margin-top: 13px;
		font-weight: 600;
		font-size: 32px;
		line-height: 150%;
		@include max(sm){
			margin-top: vw(13);
			font-size: vw(32);
		}
		br{
			@include max(md){
				display: none;
			}
			@include max(sm){
				display: inherit;
			}
		}
	}
	&__bottom{
		text-align: center;
		font-size: 20px;
		line-height: 150%;
		max-width: 708px;
		width: 100%;
		margin: 54px auto 0;
		@include max(sm){
			font-size: vw(20);
			max-width: none;
			width: auto;
			margin: vw(60) vw(-6) 0;
		}
	}
}



.ask-quest{
	margin-top: 54px;
	@include max(sm){
		margin-top: vw(60);
	}
	&__containter{}
	&__flex{
		display: flex;
		justify-content: space-between;
		margin-right: -5px;
		margin-left: -80px;
		@include min(xl){
			margin-right: -5px;
		}
		@include max(sm){
			display: block;
			margin-left: 0;
		}
	}
	&__img{
		width: 875px;
		background: url("@~images/ask-img.jpg") center center no-repeat;
		background-size: cover;
		@include max(sm){
			display: none;
		}
	}
	&__content{
		width: 378px;
		margin-left: 30px;
		flex-shrink: 0;
		@include max(sm){
			width: 100%;
			padding: 0 vw(27);
			margin: 0 auto;
		}
	}
	&__title{
		font-weight: 700;
		font-size: 35px;
		line-height: 43px;
		@include max(sm){
			font-size: vw(24);
			line-height: vw(30);
		}
	}
	&__text{
		font-size: 25px;
		line-height: 30px;
		margin-top: 10px;
		@include max(sm){
			font-size: vw(16);
			line-height: vw(19);
			margin-top: vw(19);
		}
	}
	&__form{
		width: 289px;
		margin-top: 26px;
		@include max(sm){
			width: 100%;
			margin-top: vw(24);
		}
	}
}
