header.header
	.header--mobile
		.container
			.header__burder.js-menu-toogle
	.header__row
		.container.container--header
			a.header-logo(href="")  <svg width="36" height="18" viewBox="0 0 36 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.26 14V0.86H1.448V14H0.26ZM11.511 12.866C10.599 13.766 9.48298 14.216 8.16298 14.216C6.84298 14.216 5.72098 13.766 4.79698 12.866C3.88498 11.954 3.42898 10.832 3.42898 9.5C3.42898 8.168 3.88498 7.052 4.79698 6.152C5.72098 5.24 6.84298 4.784 8.16298 4.784C9.48298 4.784 10.599 5.24 11.511 6.152C12.435 7.052 12.897 8.168 12.897 9.5C12.897 10.832 12.435 11.954 11.511 12.866ZM5.64298 12.038C6.32698 12.722 7.16698 13.064 8.16298 13.064C9.15898 13.064 9.99898 12.722 10.683 12.038C11.367 11.342 11.709 10.496 11.709 9.5C11.709 8.504 11.367 7.664 10.683 6.98C9.99898 6.284 9.15898 5.936 8.16298 5.936C7.16698 5.936 6.32698 6.284 5.64298 6.98C4.95898 7.664 4.61698 8.504 4.61698 9.5C4.61698 10.496 4.95898 11.342 5.64298 12.038ZM22.625 5H23.813V13.64C23.813 14.936 23.369 15.956 22.481 16.7C21.593 17.444 20.531 17.816 19.295 17.816C17.183 17.816 15.761 17.084 15.029 15.62L16.073 15.026C16.613 16.118 17.687 16.664 19.295 16.664C20.327 16.664 21.137 16.388 21.725 15.836C22.325 15.296 22.625 14.564 22.625 13.64V12.236C21.797 13.556 20.585 14.216 18.989 14.216C17.705 14.216 16.607 13.76 15.695 12.848C14.795 11.936 14.345 10.82 14.345 9.5C14.345 8.18 14.795 7.064 15.695 6.152C16.607 5.24 17.705 4.784 18.989 4.784C20.585 4.784 21.797 5.444 22.625 6.764V5ZM16.559 12.038C17.243 12.722 18.083 13.064 19.079 13.064C20.075 13.064 20.915 12.722 21.599 12.038C22.283 11.342 22.625 10.496 22.625 9.5C22.625 8.504 22.283 7.664 21.599 6.98C20.915 6.284 20.075 5.936 19.079 5.936C18.083 5.936 17.243 6.284 16.559 6.98C15.875 7.664 15.533 8.504 15.533 9.5C15.533 10.496 15.875 11.342 16.559 12.038ZM33.8704 12.866C32.9584 13.766 31.8424 14.216 30.5224 14.216C29.2024 14.216 28.0804 13.766 27.1564 12.866C26.2444 11.954 25.7884 10.832 25.7884 9.5C25.7884 8.168 26.2444 7.052 27.1564 6.152C28.0804 5.24 29.2024 4.784 30.5224 4.784C31.8424 4.784 32.9584 5.24 33.8704 6.152C34.7944 7.052 35.2564 8.168 35.2564 9.5C35.2564 10.832 34.7944 11.954 33.8704 12.866ZM28.0024 12.038C28.6864 12.722 29.5264 13.064 30.5224 13.064C31.5184 13.064 32.3584 12.722 33.0424 12.038C33.7264 11.342 34.0684 10.496 34.0684 9.5C34.0684 8.504 33.7264 7.664 33.0424 6.98C32.3584 6.284 31.5184 5.936 30.5224 5.936C29.5264 5.936 28.6864 6.284 28.0024 6.98C27.3184 7.664 26.9764 8.504 26.9764 9.5C26.9764 10.496 27.3184 11.342 28.0024 12.038Z" fill="black"/></svg>

			nav.header-menu
				ul.header-menu__ul
					li.header-menu__li
						a.header-menu__link(href="#home") Главная
					li.header-menu__li
						a.header-menu__link(href="#help") Почему мы
					li.header-menu__li
						a.header-menu__link(href="#reasons") Возможности
					li.header-menu__li
						a.header-menu__link(href="#consult") Условия
					li.header-menu__li
						a.header-menu__link(href="#contacts") Контакты
			.header-right
				a.hcontact-btn.btn.btn--in-header.js-modal(href="javascript:;")  Получить консультацию
				.hcontact-counties
					a.hcontact-country(href="tel:+381652077356")
						.hcontact-country__flag
							img(src=require('images/emojione_flag-for-serbia.svg'), alt="")
						.hcontact-country__text
							.hcontact-country__phone +381652077356
							.hcontact-country__address г. Белград
					a.hcontact-country(href="tel:+381652077356")
						.hcontact-country__flag
							img(src=require('images/emojione_flag-for-russia.svg'), alt="")
						.hcontact-country__text
							.hcontact-country__phone +381652077356
							.hcontact-country__address г. Москва
