header.header
	.header--mobile
		.container
			.header__mob
				.header__burder.js-menu-toogle
				.header__mob-flex
					.header__mob-logo
						img(src=require('images/header-logo.svg'), alt="logo")
					a.header__mob-btn.btn.btn--in-header(href="#contacts") Контакты
	.header__row
		.container.container--header
			.header-logo
				img(src=require('images/header-logo.svg'), alt="logo")

			nav.header-menu
				ul.header-menu__ul
					li.header-menu__li
						a.header-menu__link(href="#home") Главная
					li.header-menu__li
						a.header-menu__link(href="#help") Почему мы
					li.header-menu__li
						a.header-menu__link(href="#reasons") Возможности
					li.header-menu__li
						a.header-menu__link(href="#consult") Условия
					li.header-menu__li
						a.header-menu__link(href="#contacts") Контакты
			.header-right
				a.hcontact-btn.btn.btn--in-header.js-modal(href="javascript:;")  Получить консультацию
				.hcontact-counties
					a.hcontact-country(href="tel:+381652077356")
						.hcontact-country__flag
							img(src=require('images/emojione_flag-for-serbia.svg'), alt="")
						.hcontact-country__text
							.hcontact-country__phone +381637736647
							.hcontact-country__address г. Белград
					a.hcontact-country(href="tel:+381652077356")
						.hcontact-country__flag
							img(src=require('images/emojione_flag-for-russia.svg'), alt="")
						.hcontact-country__text
							.hcontact-country__phone +74958594964
							.hcontact-country__address г. Москва
